
body {
    background: #faf8ef;
    display: flex;
    justify-content: center;
    font-family: "Helvetica Neue", Arial, sans-serif;
    overscroll-behavior: none;
    touch-action: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.title{
    font-size: 60px;
    font-weight: bold;
    margin: 0;
    display: block;
    float: left;
    color: #776e65;
}

#heading{
    margin-top: 30px;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#heading #restart {
    background-color: #8f7a66;
    border-radius: 3px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('reset.png');
    border: 0;
    width: 72px;
}

.card{
    background: #bbada0;
    border-radius: 3px;
    text-align: center;
    padding: 10px 15px;
    margin-right: 10px;

    h3{
        color: #eee4da;
        line-height: 13px;
        margin: 0px;
    }
}

.card h3{
    color: #eee4da;
    line-height: 13px;
    margin: 0px;
}


.card h2{
    color: white;
    font-size: 25px;
    margin: 0px;
}

#grid{
    height: 80vh;
    width: 80vh;
    background: #bbada0;
    border-radius: 6px;
    padding-top: 15px;
    padding-left: 15px;
    position: relative;
}

#score_wrapper{
    display: flex;
    margin-bottom: 15px;
}

.cell{
    width: calc(25% - 15px);

    border-radius: 3px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.empty{
    background: #ccc1b4;
}

.row{
    display: flex;
    width: 100%;
    height: calc(25%);
}

.tile{
    position: absolute;
    top: 0;
    left: 0;
    width: calc(25% - 18.75px);
    height: calc(25% - 18.75px);
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    transition: transform 0.2s ease-in-out;
    font-size: 60px;
    line-height: 1;
    text-size-adjust: auto;
    color: #f9f6f2;

    &-2{
        background: #eee4da;
        color: #776e65;
    }

    &-4{
        background: #ede0c8;
        color: #776e65;
    }

    &-8{
        background: #f2b179;
    }

    &-16{
        background: #f59563;
    }

    &-32{
        background: #f67c5f;
    }

    &-64{
        background: #f65e3b;
    }

    &-128{
        background: #edcf72;
    }

    &-256{
        background: #edcc61;
    }

    &-512{
        background: #edc850;
    }

    &-1024{
        background: #e7a138;
    }

    &-2048{
        background: #ed8450;
    }

    &-4096{
        background: #eee4da;
        color: #776e65;
    }

    &-8192{
        background: #ede0c8;
        color: #776e65;
    }

    &-16384{
        background: #f2b179;
    }

    &-32768{
        background: #f59563;
    }

    &-65536{
        background: #f67c5f;
    }

    &-1024, &-2048, &-4096, &-8192{
        font-size: 45px;
    }

    &-16384, &-32768, &-65536{
        font-size: 35px;
    }
}

#game-over{
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(238, 228, 218, .5);
}

#game-over p{
    display: flex;
    font-size: 60px;
    font-weight: bold;
    justify-content: center;
    color: rgb(119, 110, 101);
    margin-top: 25%;
}

@for $x from 0 through 3 {
    @for $y from 0 through 3 {
        .position-#{$x}-#{$y} {
            transform: translate(
                #{if($x == 0, 15px, "calc(#{$x * 100}% + #{15px + $x * 15px})")},
                #{if($y == 0, 15px, "calc(#{$y * 100}% + #{15px + $y * 15px})")}
            );
        }
    }
}

@media (max-width: 650px) {
    #heading{
        flex-direction: column;
    }

     #grid{
        width: calc(100vw - 40px);
        height: calc(100vw - 40px);
    }

    .tile{
        font-size: 35px;

        &-1024, &-2048, &-4096, &-8192{
            font-size: 25px;
        }

        &-16384, &-32768, &-65536{
            font-size: 20px;
        }
    }
}
